@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');
@import '@marcoschulte/vue3-progress/dist/index.css';
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    font-family: 'Instrument Sans', sans-serif !important; 
  }


  .vue3-progress-bar {
    height: 5px !important;
    background-color: rgb(99, 60, 255) !important;
  }